
/* 
 *  Variables
 */

:root {
    --color-brown-100-alpha: #E2CBA2EE;
    --color-brown-100: #E2CBA2;
    --color-brown-500: #6A2B2B;
    --color-brown-400: #A44818;
    --color-brown-300: #C67824;
    --color-brown-200: #CD8A3A;

    --color-green-400: #588372;
    --color-green-300: #599260;
    --color-green-100: #D0D2C2;
    --color-green-100-alpha: #D0D2C2EE;

    --color-blue: #46657C;
    --color-orange: #F26D37;
}

/* 
 *  Text colors
 */

.text-brown-500 {
    color: var(--color-brown-500) !important;
}

.text-brown-400 {
    color: var(--color-brown-400) !important;
}

.text-brown-300 {
    color: var(--color-brown-300) !important;
}

.text-brown-200 {
    color: var(--color-brown-200) !important;
}

.text-brown-100 {
    color: var(--color-brown-100) !important;
}

.text-green-400 {
    color: var(--color-green-400) !important;
}

.text-green-300 {
    color: var(--color-green-300) !important;
}

.text-green-100 {
    color: var(--color-green-100) !important;
}

.text-blue {
    color: var(--color-blue) !important;
}

.text-orange {
    color: var(--color-orange) !important;
}

/* 
 *  Background colors
 */

.bg-brown-500 {
    background-color: var(--color-brown-500) !important;
}

.bg-brown-400 {
    background-color: var(--color-brown-400) !important;
}

.bg-brown-300 {
    background-color: var(--color-brown-300) !important;
}

.bg-brown-200 {
    background-color: var(--color-brown-200) !important;
}

.bg-brown-100 {
    background-color: var(--color-brown-100) !important;
}

.bg-brown-100-alpha {
    background-color: var(--color-brown-100-alpha) !important;
}

.bg-green-400 {
    background-color: var(--color-green-400) !important;
}

.bg-green-300 {
    background-color: var(--color-green-300) !important;
}

.bg-green-100 {
    background-color: var(--color-green-100) !important;
}

.bg-green-100-alpha {
    background-color: var(--color-green-100-alpha) !important;
}

.bg-blue {
    background-color: var(--color-blue) !important;
}

.bg-orange {
    background-color: var(--color-orange) !important;
}

/* 
 *  Colors animations
 */

.link-dark {
    color: var(--color-brown-400) !important;
    text-decoration: none;
}

.link-dark:hover {
    color: var(--color-brown-500) !important;
}

.link-light {
    color: var(--color-brown-100) !important;
    text-decoration: none;
}

.link-light:hover {
    color: var(--color-brown-300) !important;
}

/* 
 *  Fonts
 */

/* 
 *  Avalanche
 *  Licence at ../fonts/avalanche/license_certificate.txt
 *  https://elements.envato.com/pt-br/avalanche-display-font-UVLVHU8
 */

@font-face {
    font-family: 'Avalanche';
    src: url('../fonts/avalanche/Avalanche.ttf');
}

/* 
 *  Afacad
 *  https://fonts.google.com/specimen/Afacad
 */

@font-face {
    font-family: 'Afacad';
    src: url('../fonts/afacad/Afacad-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Afacad';
    src: url('../fonts/afacad/Afacad-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Afacad';
    src: url('../fonts/afacad/Afacad-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Afacad';
    src: url('../fonts/afacad/Afacad-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Afacad';
    src: url('../fonts/afacad/Afacad-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Afacad';
    src: url('../fonts/afacad/Afacad-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Afacad';
    src: url('../fonts/afacad/Afacad-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Afacad';
    src: url('../fonts/afacad/Afacad-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

/* 
 *  AfacadFlux
 *  https://fonts.google.com/specimen/Afacad+Flux
 */

@font-face {
    font-family: 'AfacadFlux';
    src: url('../fonts/afacadflux/AfacadFlux-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('../fonts/afacadflux/AfacadFlux-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('../fonts/afacadflux/AfacadFlux-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('../fonts/afacadflux/AfacadFlux-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('../fonts/afacadflux/AfacadFlux-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('../fonts/afacadflux/AfacadFlux-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('../fonts/afacadflux/AfacadFlux-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AfacadFlux';
    src: url('../fonts/afacadflux/AfacadFlux-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

/* 
 *  Applying fonts
 */

p, a, button, strong, li, quoteblock {
    font-family: 'Afacad', sans-serif;
}

h1, h2, h3, h4, h5, h6, .nav-link {
    font-family: 'Avalanche', sans-serif;
}

/* 
 *  Utils
 */

.centralize-x {
    left: 50%;
    transform: translateX(-50%);
}

.centralize-y {
    top: 50%;
    transform: translateY(-50%);
}

.centralize {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-picture {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 10px solid var(--color-brown-500);
}